<div id="app" class="d-flex flex-column h-100">
    <div class="container" *ngIf="auth.isLoading$ | async; else loaded">
        <app-loading></app-loading>
    </div>

    <ng-template #loaded>
        <app-nav-bar></app-nav-bar>

        <div *ngIf="!idToken">
            No ID token found.
        </div>

        <div *ngIf="idToken">
            ID token, expires in {{expiresInSeconds}} seconds.
            <pre style="font-size: 12px">{{idTokenAsString}}</pre>
        </div>

    </ng-template>


    <div>
        <button (click)="callGetAccessTokenSilently()">Call getAccessTokenSilently</button>
    </div>
    <div>
        <button (click)="callGetAccessTokenWithPopup()">Call getAccessTokenWithPopup</button>
    </div>

</div>
